.container {
  width: 100%;
  height: fit-content;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--neutral-color);
  font-size: 22px;
  font-weight: 700;
  color: var(--secondary-color);
}

.link {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-color);
}