.container {
  width: 100%;
  height: fit-content;
  margin: 0;
  /* padding: 0px 8px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  font-weight: 700;
}

.link {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-weight: 500;
}

.link:hover{
  padding: 0;
  margin: 0;
  border-bottom: 2px solid #7200B5;
  color: #7200B5;
}