.container {
  width: 100%;
  border-radius: 12px;
  font-weight: 700;
  overflow: hidden;
  min-width: 0;
  display: flex;
  color: inherit;
}

.medium {
  aspect-ratio: 1 / 1;
  padding: 16px;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.large {
  aspect-ratio: 3 / 1;
  height: 100%;
  padding: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.type {
  line-height: 1;
  color: #fff;
}

.main {
  word-break: break-word;
}

.validity {
  color: #000;
}

@media (max-width: 640px) {
  .medium {
    padding: 18px;
  }

  .large {
    padding: 14px;
  }
}