.wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.title {
  font-weight: 500;
}

.description {
  color: var(--primary-color);
  font-weight: 600;
}