.searchBar {
  background-color: #ffffff;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 400;
  transition: background 0.2s ease;
}

.searchBar:hover {
  border: 2px solid var(--secondary-color);
}