.wrapper {
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #5B5B5B;
  background-color: #F3F3F3;
  overflow: hidden;
}