.wrapper {
  width: 100%;
  min-height: 200px;        
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 10px 0 20px 0 !important;                 
  font-size: 14px;        
  font-weight: 500;
  color: #5B5B5B;
  background-color: #F3F3F3;
}

@media (min-width: 768px) {
  .wrapper {
    min-height: 280px;
    font-size: 16px;
  }
}