.wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  align-items: center;
  text-align: center;
}

.title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  justify-content: center;
}

.description {
  font-size: 12px;
  color: #9ca3af;
}

@media (min-width: 768px) {
  .wrapper {
    align-items: flex-start;
    text-align: left;
  }

  .title {
    justify-content: flex-start;
  }
}