.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 24px;
  font-size: 14px;
  color: #5B5B5B;
  background-color: #FBFBFB;
  min-height: 100px;
}

@media (max-width: 640px) {
  .wrapper {
    flex-direction: column;
    align-items: stretch;
    padding: 16px;
    gap: 12px;
  }
}