.container {
  width: 100%;
  /* height: 100%; */
  border: 1px solid var(--neutral-color);
  border-radius: 20px;
  /* box-shadow: 0px 4px 12px rgba(33, 45, 88, 0.15); */
}

/* SMALL */
.small {
  gap: 8px;
}

/* MEDIUM */
.medium {
  padding: 10px;
  gap: 8px;
}

/* BIG */
.big {
  padding: 30px;
  gap: 8px;
}